* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #27282c;
  flex-direction: column;
  gap: 60px;
}
.glowing-btn{
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  transition: 0.5s;
}
.glowing-btn:hover {
  letter-spacing: 0.25em;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}

.glowing-btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #27282c;
}
.glowing-btn span {
  position: relative;
  z-index: 1;
}

.glowing-btn i {
  position: absolute;
  inset: 0;
  display: block;
}
.glowing-btn i::before {
  content: "";
  position: absolute;
  top: -3.5px;
  left: 80%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: #27272c;
  transform: translateX(-50%);
  transition: 0.5s;
}
.glowing-btn:hover i::before {
  width: 20px;
  left: 20%;
}
.glowing-btn i::after {
  content: "";
  position: absolute;
  bottom: -3.5px;
  left: 20%;
  width: 10px;
  height: 5px;
  border: 2px solid var(--clr);
  background: #27272c;
  transform: translateX(-50%);
  transition: 0.5s;
}
.glowing-btn:hover i::after {
  width: 20px;
  left: 80%;
}
